.container{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  overflow: auto;
  font-family: var(--fontFamily);
}

.sidebar{
  width: 15%;
  height: 100%;
  top: 0;
  padding: 10px;
  position: absolute;
  display: table-column;
  border-right: 1px solid var(--colorDisabled);
  background-color: #F1F1F1;
}

.navbar{
  width: 78%;
  height: 8%;
  top: 0;
  left: 18.5%;
  padding: 10px;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  vertical-align: middle;
  border-bottom:  var(--lengthSm1) solid #e9ecef !important;
  background-color: white;
}

/* Middle Container */
.content{
  width: 78%;
  height: 100%;
  display: block;
  position: fixed;
  left: 18.5%;
  top: 11%;
  padding: 20px;
  overflow-y: auto;
  background-color: white;
}

/* ICONS */
.icon{
  font-size: 1.8rem;
  line-height: 3rem;
  background: transparent;
  color: var(--colorText);
  padding: 10px;
  cursor: pointer;
}

.icon:hover{
  color: var(--bs4primary);
  /* border-radius: 50%;s */
}

/* sidebar contents */
.brand-name{
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3.5rem;
}

.content-box{
  margin: 0 15px 0 0;
}

.content-box>button, .btn{
  width: 100px;
  height: 100px;
  display: grid;
  padding: 5px !important;
  border: 2px solid var(--colorText);
  border-radius:  20px;
  background-color: white;
}

.content-box>button:hover, .btn:hover, .btn>.fa:hover{
  border-color: var(--bs4primary) !important;
  color: var(--bs4primary) !important;
  cursor: pointer;
}

.content-box>button:focus, .btn:focus, .btn>.fa:focus{
  border-color: var(--bs4primary) !important;
  cursor: pointer;
}

.content-box>button>.fa{
  display: inline-block;
  position: absolute;
  margin-left: 70px;
}

.content-box>button>.emoji{
  display: inline-block;
  position: relative;
  padding: 5px;
  align-self: center;
  cursor: pointer !important;
  /* margin-left: 2.5%; */
}

.content-box>label{
  text-align: center;
}

.btn>.fa{
  font-size: 30px;
  cursor: pointer;
  position: relative;
  align-self: center;
}

label{
  padding-bottom: 5px;
  color: black;
  font-size: var(--lengthMd2);
  font-weight: bold;
  text-overflow: ellipsis;
}


.segment{
  width: 100%;
  height: 50px;
  vertical-align: middle;
  border-radius: 5px;
  font-size: var(--lengthMd1);
  font-weight: bold;
  cursor: pointer;
  background-color: var(--bs4primary);
  border: 2px solid var(--bs4primary);
  color: white;
}

.segment>.fa{
  color: white;
  padding: 0 !important;
  margin-right: 20px !important;
}
.segment>label{
  color: white;
}

input{
  width: 60%;
  margin-top: 50px;
  block-size: 15px;
  border-radius: 10px;
  border: 2px solid var(--colorLabel);
  padding: 20px;
}
